[Desktop Entry]
Type=Application
Name=1Password
Comment=1Password silent autostart
Icon=com.onepassword.OnePassword
Exec=flatpak run com.onepassword.OnePassword --silent 